---
import Footer from "../../components/Footer.astro";
import specialties from "../../data/specialties.json";
export function getStaticPaths() {
    return specialties.map((specialty) => {
        return {
            params: {
                slug: specialty.slug,
                
            },
            props: {
                title: specialty.title,
                description: specialty.description,
                specialty: specialty.specialty
            }
        };
    });
}
const { slug } = Astro.params;
const {title, description, specialty} = Astro.props;

import i18next, { t } from "i18next";
---

<!doctype html>
<html class="h-full bg-gray-50" lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo-64x64.png" />
        <meta name="generator" content="4mentor studio" />
        <meta property="og:title" content="4mentor studio" />
        <meta property="og:description" content={description} />
        <meta property="og:url" content="4mentor.com" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="4mentor studio" />
        <meta property="twitter:description" content={description} />

        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="h-full font-nunito">
        <div class="bg-white">
            <!-- Header -->
            <header class="absolute inset-x-0 top-0 z-50">
                <nav
                    class="flex items-center justify-between p-6 lg:px-8"
                    aria-label="Global"
                >
                    <div class="flex lg:flex-1">
                        <a href="/" class="-m-1.5 p-1.5">
                            <span class="sr-only">4mentor studio</span>
                            <img
                                class="h-10 w-auto"
                                src="/4mentor.svg
              "
                                alt="Logo"
                            />
                        </a>
                    </div>
                    <div id="openNavBar" class="flex lg:hidden">
                        <button
                            type="button"
                            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
                        >
                            <span class="sr-only">Open main menu</span>
                            <svg
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a
                            href="/features"
                            class="text-sm font-semibold leading-6 text-gray-900"
                            >{t("nav.features")}</a
                        >

                        <a
                            href="/contact"
                            class="text-sm font-semibold leading-6 text-gray-900"
                            >{t("nav.contact")}</a
                        >
                        <a
                            href="/blog"
                            class="text-sm font-semibold leading-6 text-gray-900"
                            >{t("nav.blog")}</a
                        >
                    </div>
                    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="/signup" class="text-sm font-semibold leading-6 text-gray-900">Get you web <span aria-hidden="true">&rarr;</span></a>
          </div> 
                </nav>
                <!-- Mobile menu, show/hide based on menu open state. -->
                <div
                    id="navBar"
                    class="hidden lg:hidden"
                    role="dialog"
                    aria-modal="true"
                >
                    <!-- Background backdrop, show/hide based on slide-over state. -->
                    <div class="fixed inset-0 z-50"></div>
                    <div
                        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
                    >
                        <div class="flex items-center justify-between">
                            <a href="/" class="-m-1.5 p-1.5">
                                <span class="sr-only">Your Company</span>
                                <img
                                    class="h-8 w-auto"
                                    src="/4mentor.svg"
                                    alt=""
                                />
                            </a>
                            <button
                                id="closeNavBar"
                                type="button"
                                class="-m-2.5 rounded-md p-2.5 text-gray-700"
                            >
                                <span class="sr-only">Close menu</span>
                                <svg
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                                <div class="space-y-2 py-6">
                                    <a
                                        href="/features"
                                        class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                                        >{t("nav.features")}</a
                                    >

                                    <a
                                        href="/contact"
                                        class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                                        >{t("nav.contact")}</a
                                    >
                                    <a
                                        href="/blog"
                                        class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                                        >{t("nav.blog")}</a
                                    >
                                </div>
                                 <div class="py-6">
                  <a href="/signup"
                     class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
                    Get your web
                  </a>
                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main class="isolate">
                <div id="intro">
                    <div
                        class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20"
                    >
                        <div
                            class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32   lg:px-8 lg:py-40"
                        >
                            <div class="px-6 lg:px-0 lg:pt-4">
                                <div class="mx-auto max-w-2xl">
                                    <div class="max-w-lg">
                                        <div class="mt-24 sm:mt-32 lg:mt-16">
                                            <img class="rounded-xl"
                                            src="/hero.png"/>
                                            <h1
                                                class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl xl:text-6xl pt-6"
                                            >
                                                <span class="block"
                                                    >{title}</span
                                                >
                                            </h1>

                                            <h2
                                                class="mt-6 text-xl text-gray-500"
                                            >
                                                ¿Por qué un sitio web
                                                profesional es indispensable
                                                para un {specialty}?
                                            </h2>
                                            <p>
                                                En la era digital, tener una
                                                presencia en línea no es una
                                                opción sino una necesidad. Un
                                                sitio web profesional sirve como
                                                la tarjeta de visita digital
                                                para cualquier {
                                                    specialty
                                                }, permitiendo que los pacientes
                                                potenciales te encuentren y
                                                aprendan más sobre tus servicios
                                                incluso antes de visitar tu
                                                clínica.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <div class="mx-auto mt-32 max-w-7xl px-6 lg:px-8">
                            <Footer />
                        </div>
                    </div>
                </div>
            </main>

            <script>
                const navBar: HTMLElement | null = document.getElementById("navBar");
                const closeNavBar = document.getElementById("closeNavBar");
                const openNavBar = document.getElementById("openNavBar");

                closeNavBar?.addEventListener("click", toggleMenu);
                openNavBar?.addEventListener("click", toggleMenu);

                function toggleMenu() {
                    navBar?.classList.toggle("hidden");
                }
            </script>
        </div></body>
</html>
